{% extends 'base.html' %}
{% block title %} Home{% endblock title %} 
{% block body %}

<body>
    
 <!--form login-->
    
     <div class="container my-3 ">
        <h3>Add a Note</h3>
        <div class="container bg-dark text-white">
        <form action="/" method="post">
            <div class="mb-3 my-2">
                <label for="title" class="form-label">Add Title</label>
                <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Add Description</label>
                <input type="text" name="desc" class="form-control" id="description">
            </div>
            
            <button type="submit" style="background-color: cyan ; color:black; font-weight: bold ;"  class="btn btn-dark">Add</button>
            
        </form>
    </div>
    </div> 

    <!--table-->
    <div class="container my-3">
        <h3>Your Notes</h3>
        <!--use jif-->
        {% if allNotes|length == 0 %}
                   
                <div class="alert alert-dark" style="background-color:darkgray;"  role="alert">
                    No Notes found. Add your first note now!
                  </div>
                    {% else %} 
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th>SrNo.</th>
              <th>Title</th>
              <th>Description</th>
              <th>Created on</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
              {% for note in allNotes %}  
              <tr>
                <td>{{loop.index}}</td> <!--used loop.indeex so that even if i delete any entry , seq is maintained -->
                <td>{{note.title}}</td>
                <td>{{note.desc}}</td>
                <td>{{note.date_created}}</td>
                <td>
                    <a href="/update/{{note.srNo}}" type="button" class="btn btn-light btn-sm mx-1">Update</button>
                    <a href="/delete/{{note.srNo}}" type="button" class="btn btn-danger btn-sm mx-1">Delete</button>
                </td>
              </tr>
               
                  
              {% endfor %}
            
            
          </tbody>
        </table>
        {% endif %}


      </div>
      

    </body>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->


{%endblock%}